#hubspot-form form div .input input,
#hubspot-form form div textarea,
#hubspot-form form div select {
  border: 1px solid #161b30;
  border-radius: 10px;
  padding: 6px 20px 6px 5px;
  width: 100%;
  background-color: #fff;
}

#hubspot-form form div > label {
  font-weight: 500;
  font-size: 14px;
  color: #4e79f3;
  margin-bottom: 10px;
  display: block;
  font-weight: 600;
}

#hubspot-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-bg {
  background-image: url(../../assets/images/MO-Yellow-Dude.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

#hubspot-form form .hs-error-msg {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

#hubspot-form form .hs-submit .actions {
  margin-top: 30px;
  margin-bottom: 20px;
}

#hubspot-form form .hs-submit .actions input {
  background-color: #161b30;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}

#hubspot-form form .hs-submit .actions input:hover {
  background-color: #4e79f3;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
  td.e-rowcell,
  th.e-headercell {
    width: 200px !important;
  }
}
